CONFIG_SERIAL_IMX=m
CONFIG_SERIAL_IMX_CONSOLE=m
CONFIG_I2C_IMX=m
CONFIG_PINCTRL_IMX8MM=m
CONFIG_MFD_ROHM_BD718XX=m
CONFIG_IMX_LCDIF_CORE=m
CONFIG_DRM_I2C_ADV7511=m
CONFIG_DRM_IMX=m
CONFIG_DRM_IMX_SEC_DSIM=m
CONFIG_DRM_ETNAVIV=m
CONFIG_MMC_SDHCI_ESDHC_IMX=m
CONFIG_ION_CMA_HEAP=m
CONFIG_CLK_IMX8MM=m
# CONFIG_MXC_VPU_MALONE is not set
# CONFIG_MXC_VPU_WINDSOR is not set
# CONFIG_MXC_IMX_DMX_HW is not set
CONFIG_GPIO_MXC=m
CONFIG_IMX2_WDT=m
CONFIG_IMX8M_PM_DOMAINS=m
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_I2C=m
