CONFIG_ARCH_MXC=y
CONFIG_SERIAL_IMX=m
CONFIG_SERIAL_IMX_CONSOLE=m
CONFIG_I2C_IMX=m
CONFIG_PINCTRL_IMX8MM=m
CONFIG_MFD_ROHM_BD718XX=m
CONFIG_IMX_LCDIF_CORE=m
CONFIG_DRM_I2C_ADV7511=m
CONFIG_DRM_IMX=m
CONFIG_DRM_IMX_SEC_DSIM=m
CONFIG_DRM_ETNAVIV=m
CONFIG_MMC_SDHCI_ESDHC_IMX=m
CONFIG_ION_CMA_HEAP=m
CONFIG_CLK_IMX8MM=m
# CONFIG_MXC_VPU_MALONE is not set
# CONFIG_MXC_VPU_WINDSOR is not set
# CONFIG_MXC_IMX_DMX_HW is not set
CONFIG_GPIO_MXC=m
CONFIG_IMX2_WDT=m
CONFIG_IMX8M_PM_DOMAINS=m
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_I2C=m
CONFIG_USB_CHIPIDEA_OF=m
CONFIG_USB_CHIPIDEA=m
CONFIG_TYPEC_TCPCI=m
CONFIG_USB_CHIPIDEA_UDC=y
CONFIG_USB_CHIPIDEA_HOST=y
CONFIG_USB_EHCI_HCD=m
CONFIG_NOP_USB_XCEIV=m

CONFIG_MEDIA_SUPPORT=y
CONFIG_VIDEOBUF2_DMA_CONTIG=y
CONFIG_V4L_PLATFORM_DRIVERS=y
CONFIG_VIDEO_MXC_CAPTURE=m
CONFIG_VIDEO_MXC_CSI_CAMERA=m
CONFIG_MXC_CAMERA_OV5640_MIPI_V2=m
CONFIG_MXC_MIPI_CSI=m

CONFIG_MACH_IMX_BLUETOOTH_RFKILL=m

CONFIG_SND_IMX_SOC=m
CONFIG_SND_SOC_WM8524=m
CONFIG_SND_SIMPLE_CARD=m
CONFIG_SND_SOC_FSL_SAI=m
CONFIG_IMX_SDMA=m
CONFIG_SND_SOC_FSL_MICFIL=m
CONFIG_SND_SOC_IMX_MICFIL=m
CONFIG_SND_SOC_IMX_PCM_DMA=m

CONFIG_MXC_GPU_VIV=m
