allow platform_app vendor_file:file { read open getattr execute };
allow platform_app property_socket:sock_file { write };
set_prop(platform_app, public_vendor_default_prop)
