# secure-os storage-daemon

allow tee self:capability { setuid setgid sys_rawio };

# secure os communication
# in global tee.te

# rpmb operations
allow tee block_device:dir { search };

