allow bluetooth sysfs:file rw_file_perms;
allow bluetooth storage_stub_file:dir { getattr };
allow bluetooth vendor_file:file { read execute open getattr };
