allow kernel self:capability { mknod };
allow kernel sdcard_internal:file rw_file_perms;
allow kernel sdcard_internal:dir rw_dir_perms;
allow kernel device:blk_file  { create setattr getattr unlink};
allow kernel device:dir  { add_name write };
allow healthd kernel:system  { module_request };
allow logd kernel:system  { module_request };
allow ueventd kernel:system  { module_request };
allow vold kernel:system  { module_request };
allow watchdogd kernel:system  { module_request };
allow lmkd kernel:system  { module_request };
allow servicemanager kernel:system  { module_request };
allow surfaceflinger kernel:system  { module_request };
allow toolbox kernel:system  { module_request };
allow debuggerd kernel:system  { module_request };
allow drmserver kernel:system  { module_request };
allow installd kernel:system  { module_request };
allow keystore kernel:system  { module_request };
allow sensors kernel:system  { module_request };
allow sdcardd kernel:system  { module_request };
allow bootanim kernel:system  { module_request };
allow zygote kernel:system  { module_request };
allow tzdatacheck kernel:system  { module_request };
allow shell kernel:system  { module_request };
allow dex2oat kernel:system  { module_request };


