allow hal_bluetooth_default sysfs:file { write };
allow hal_bluetooth_default bluetooth_data_file:file { write read append };
set_prop(hal_bluetooth_default, vendor_bluetooth_prop)
