on boot

    # Set OpenGLES version
    setprop ro.opengles.version 196610

    # Set GPU 3D minimum clock to 3/64
    write /sys/bus/platform/drivers/galcore/gpu3DMinClock 3

    # Set light sensor sysfs path
    setprop ro.hardware.lightsensor "/sys/class/i2c-dev/i2c-7/device/7-0044/"
