allow modprobe vendor_file:system { module_load };
allow modprobe vendor_toolbox_exec:file { entrypoint read execute getattr };
allow modprobe vendor_file:file { read open getattr execute };
